infrastructure/workflows/telegram_alert_workflow.json
{
  "name": "API HealthCheck Telegram Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api-healthcheck",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "healthcheck-webhook-id"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.body.config.enable_telegram}}",
              "value2": true
            }
          ]
        }
      },
      "name": "If Telegram Enabled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Webhook\"].json[\"body\"][\"config\"][\"telegram_chat_id\"]}}",
        "text": "=⚠️ *API Alert!*\n\n*Name:* {{$node[\"Webhook\"].json[\"body\"][\"api_name\"]}}\n*URL:* {{$node[\"Webhook\"].json[\"body\"][\"url\"]}}\n*Status:* {{$node[\"Webhook\"].json[\"body\"][\"status_code\"]}}\n*Error:* {{$node[\"Webhook\"].json[\"body\"][\"error_message\"]}}",
        "additionalFields": {
          "parse_mode": "MarkdownV2"
        }
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        700,
        280
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If Telegram Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Telegram Enabled": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
